<%= form_for @micropost, url: {controller: "microposts", action: "create"} do |form| %>
	<%= render "shared/error_messages", object: form.object %>
	<div class="field">
		<div class="form-group">
			<%= form.label :content %>
			<%= form.text_area :content,class: "form-control", placeholder: "Compose new micropost" %>
		</div>
		<div class="form-group">
			<%= form.submit "Post", class: "btn btn-primary btn-large" %>
		</div>
	</div>
<% end %>